<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975186518830-g8lg1hea1p2676pb34k37uat8o93u3o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975186518830-g8lg1hea1p2676pb34k37uat8o93u3o3</string>
	<key>API_KEY</key>
	<string>AIzaSyDZbsWIKvge8360pNyZlxz2D8ZYvYStAWI</string>
	<key>GCM_SENDER_ID</key>
	<string>975186518830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artpol.presets</string>
	<key>PROJECT_ID</key>
	<string>presets-8b85c</string>
	<key>STORAGE_BUCKET</key>
	<string>presets-8b85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975186518830:ios:ae6415760be362edcfd0bf</string>
</dict>
</plist>