<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975186518830-d28m44m9o5nfg1gaiaumbljg71eaif2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975186518830-d28m44m9o5nfg1gaiaumbljg71eaif2v</string>
	<key>API_KEY</key>
	<string>AIzaSyDZbsWIKvge8360pNyZlxz2D8ZYvYStAWI</string>
	<key>GCM_SENDER_ID</key>
	<string>975186518830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artmouse.presets</string>
	<key>PROJECT_ID</key>
	<string>presets-8b85c</string>
	<key>STORAGE_BUCKET</key>
	<string>presets-8b85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:975186518830:ios:c2a7a7ad76fa6949cfd0bf</string>
	<key>DATABASE_URL</key>
	<string>https://presets-8b85c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
